<div class="form-signin">
  <button
    class="btn btn-lg btn-dark btn-block text-uppercase col-md-2 mt-3"
    onclick="window.location.href = '#!'"
  >
    Go Back
  </button>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" ng-submit="login()">
            <div class="form-label-group">
              <input
                type="email"
                id="inputEmail"
                class="form-control"
                placeholder="Email address"
                ng-model="email"
                required
                autofocus
              />
              <label for="inputEmail">Email address</label>
            </div>

            <div class="form-label-group">
              <input
                type="password"
                id="inputPassword"
                class="form-control"
                placeholder="Password"
                ng-model="password"
                required
              />
              <label for="inputPassword">Password</label>
            </div>

            <button
              class="btn btn-lg btn-primary btn-block text-uppercase"
              type="submit"
            >
              Sign in
            </button>
            <hr class="my-4" />
          </form>
          <form class="form-signin">
            <button
              class="btn btn-lg btn-google btn-block text-uppercase"
              style="border-radius: 2em;"
              onclick="window.location.href = '#!/signup';"
            >
              Sign Up
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
